article, aside, dialog, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    filter: inherit;
    outline: none;
}

div {
    display: block;
}

body {
    font-family: "Arial", sans-serif;
    font-size: 80%;
    overflow-x: hidden;
    color: #666;
}
.legend {
  margin-top:10px;
  margin-bottom: 5px;
}
#map, .legend {
  margin-left:90px;
}
#title{
  margin-left: 5%; 
}

#political_filters{
  margin-left:30%;
  margin-top:25px;
  margin-bottom:15px;
}

.background {
    /* background: url(../img/sky.gif) repeat-x; */
    z-index: 10;
}


section {
    position: relative;
    /*-webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;*/
}

/*.background .site-width {
    height: 1019px;
}*/

.site-width {
    width: 937px;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    position: relative;
}

.background header{
    padding: 115px 0 0;
    border-bottom: 1px solid rgba(0,0,0, .15);
    overflow: hidden;
    margin-bottom: 42px;
}

h1 {
    width: 358px;
    height: 150px;
    /*background: url(../img/h1.png) no-repeat;*/
    float: left;
}

.background header p {
    float: right;
    width: 400px;
    padding-right: 40px;
    margin-bottom: 30px;
    font-family: "proxima-nova", Arial;
    font-weight: 700;
    font-size: 1.2em;
    color: #60404A;
}

.background .daterange{
    padding: 10px 0 50px;
    margin-bottom: 10px;
    font-size:15px;
    overflow: hidden;
    align-content: center;
    border-bottom: 1px solid rgba(0,0,0, .15);
}
.background .daterange h4{
      text-align:center;
}
.background .daterange .date{
    width: 850px;
    position:relative;
    margin-left: 50px;
    margin-right: 50px;
}
#guidance{
  float:right;
  margin-right:20px;
  font-size:15px;
}
.background .city_summary{
    padding: 10px 0 0;
    overflow: hidden;
    align-content: center;
}
.background .city_summary h5{
  margin-left:40px;
  font-size:25px;
}
#start-date{
  display:inline;
  font-weight: bold;
}
#end-date{
  display:inline;
  font-weight: bold;
}

.city_summary ul{
  position:relative;
  margin-left:80px;
  font-size:20px;
}
#summary-text{
  position:relative;
  margin-left:40px;
  font-size:20px;
}
.background .viewselector {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 400px;
  max-width: 400px;
  margin: 0 auto;
  /*margin-top:0px;*/
  min-height: 150px;
}

.background .viewselector .button{  
  flex: 1 1 auto;
  margin: 10px;
  padding: 20px;
  width: 100px;
  border: 2px solid #666;
  text-align: center;
  text-transform: uppercase;
  overflow : hidden;
  position:relative;
  transition: .3s;
}

.background .viewselector .button:after {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0%;
    left: 50%;
    bottom: 0;
    height: 3px;
    background: #68a1d6;
}
#excelDataTable{
  margin-bottom:10%;
}

.background .viewselector .button:hover {
    cursor: pointer;
}

.background .viewselector .button:hover:after {
    width: 100%;
    left: 0;
}

.toggle-wrap{
    margin-bottom: 20px;
    left: 28%;
    position: relative;
}

#toggleDivisions{
    display: block;
    margin-left: 450px;
}

.map-buttons button{
  margin: 10px;
  margin-top:15px;
  margin-left:425px;
  margin-bottom:0px;
  padding: 5px;
  font-size:10px;
  width: 100px;
  height: 25px;
  border: 2px solid #666;
  color: black;
  text-align: center;
  background-color: white;
  text-transform: uppercase;
}
.map-buttons button:hover{
  cursor:pointer;
  border: 2px solid #666;
  background-color: #6bd2e8;
  text-align: center;
  text-transform: uppercase;
}


form {
  font-family: 'Helvetica Neue', arial, sans-serif;
  color: white;
  -webkit-font-smoothing: antialiased;
}
 
/**
 * Form & Checkbox Styles
 */

h4{
  font-weight: 700;
  margin-bottom: .5em;
}
 
label{
  font-weight: 300;
}
.background .city_filters{
  margin-left: 100px;
}

.background .macro_filters button{
  display: inline-block;
  vertical-align: top;
  padding: .5em;
  margin-top: 10px;
  margin-left:235px;
  background: #68a1d6;
  position:relative;
  border: 0;
  color: #eee;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
}
 
.background .macro_filters button:focus{
  outline: 0 none;
}

.background .micro_filters button{
  display: inline-block;
  vertical-align: top;
  padding: .5em;
  margin-top:20px;
  margin-left:10px;
  margin-right:10px;
  background: #68a1d6;
  border: 0;
  color: #eee;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
}
 
.background .micro_filters button:focus{
  outline: 0 none;
}
 
.micro_filters{
  /*background: #333;*/
  padding: 2%;
  margin-left:27%;
}
#micro-button-bar{
  margin-left:80px;
}
 
fieldset{
  display: inline-block;
  vertical-align: top;
  margin: 0 1em 0 0;
  background: #666;
  padding: .5em;
  border-radius: 5px;
}

.radio{
  display: block;
  position: relative;
  cursor: pointer;
  margin-bottom: 8px;
}

.radio input[type="radio"]{
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  margin: 0;
  opacity: 0;
  z-index: 1;
}

.radio input[type="checkbox"]{
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  margin: 0;
  opacity: 0;
  z-index: 1;
}

.radio label{
  display: inline-block;
  vertical-align: top;
  text-align: left;
  padding-top: 2px;
  padding-left: 1.8em;
}

.radio label:before,
.radio label:after{
  content: '';
  display: block;
  position: absolute;
}

.radio label:before{
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  background: #ddd;
  border-radius: 3px;
}

.radio label:after{
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  background: #68b8c4;
  opacity: 0;
  pointer-events: none;
}

.radio input:checked ~ label:after{
  opacity: 1;
}

.radio input:unchecked ~ label:before{
  opacity: 1;
}

.radio input:focus ~ label:before{
  background: #eee;
}

/**
 * Container/Target Styles
 */

.container{
  padding: 2%;
  min-height: 400px;
  text-align: justify;
  position: relative;
}

.container .mix,
.container .gap{
  width: 100px;
  display: inline-block;
  margin: 0 5%;
}

.container .mix{
  width: 100px;
  height: 100px;
  margin: 5%;
  background: white;
  display: none;
}

.container .mix.green{
  background: #a6e6a7;
}

.container .mix.blue{
  background: #6bd2e8;
}

.container .mix.circle{
  border-radius: 999px;
}

.container .mix.triangle{
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-top-color: #68b8c4;
  border-left-color: #68b8c4;
}
/*
#mapid { height: 600px; }*/


.container .mix.sm{
  width: 50px;
  height: 50px;
}

/**
 * Fail message styles
 */
/*#domMessage{
    border-width: 0px;
    padding: 15px;
    background:#000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    opacity: .5;
    color: #fff;
}*/

.container .fail-message{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  
  -webkit-transition: 150ms;
  -moz-transition: 150ms;
  transition: 150ms;
}

.container .fail-message:before{
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.container .fail-message span{
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  font-weight: 700;
}

.container.fail .fail-message{
  opacity: 1;
  pointer-events: auto;
}


.switch-wrapper {
  display: inline-block;
  position: relative;
  top: 3px;
}

#micro-go{
  display: inline-block;
  vertical-align: top;
  padding: .5em;
  margin-top: 10px;
  margin-left:235px;
  background: #68a1d6;
  position:relative;
  border: 0;
  color: #eee;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
}
 
#micro-go button:focus{
  outline: 0 none;
}

#micro-clear{
  display: inline-block;
  vertical-align: top;
  padding: .5em;
  margin-top: 10px;
  margin-left:235px;
  background: #68a1d6;
  position:relative;
  border: 0;
  color: #eee;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
}
 
#micro-clear button:focus{
  outline: 0 none;
}


